// "_color-schemes.scss"                v2.0.0 | 2019/03/24 | by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                          Alan-Docs Color-Scheme                           *
// *                                                                           *
// *****************************************************************************
// Custom color schemes for additional styling of the Alan-Docs project.
// Created by Tristano Ajmone.

// --------------
// Default Colors
// --------------
$verbatim-default-background: #FEFEFE;
$verbatim-default-normal:     #000;

// ---------
// BNF Rules
// ---------
$BNF-background: #FFEBD6;
$BNF-normal:     #492E11;

// ---------------
// Game Transcript
// ---------------
$Transcript-background: #F7FDFF;
$Transcript-normal:     #0089B6;
$Transcript-border:     #CCF2FF;

// --------------
// Shell Examples
// --------------
// Based on Windows 10 new CMD default colors:
// https://blogs.msdn.microsoft.com/commandline/2017/08/02/updating-the-windows-console-colors/
$CMD-Black: #0C0C0C;
$CMD-White: #F2F2F2;
// Callouts BG:
$CMD-callouts-background: #FFF945; // bright yellow

// -------------------
// Inline Highlighting
// -------------------
// Used to provide a highlighter marker effect to both text and code examples.
// Mainly used in "ALAN Beginner's Guide" to mark added code in the source code
// examples.

$highlighter-green: #A3FF8A;

// EOF //
