/* FiraCode font (with ligatures) */
@font-face {
  font-family: "Fira Code";
  src: url("https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot");
  src: url("https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot") format("embedded-opentype"), url("https://unpkg.com/firacode/distr/woff2/FiraCode-Regular.woff2") format("woff2"), url("https://unpkg.com/firacode/distr/woff/FiraCode-Regular.woff") format("woff"), url("https://unpkg.com/firacode/distr/ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Highlight Default Theme */
.listingblock code[data-lang]::before {
  color: #969896;
}

.listingblock pre[class=highlight] {
  background-color: #1d1f21;
  border-radius: 4px;
  border: 1px solid #282a2e;
}
.listingblock pre[class=highlight] > code {
  color: #c5c8c6;
}
.listingblock pre[class=highlight] .hl {
  color: #c5c8c6;
}
.listingblock pre[class=highlight] .hl.num {
  color: #F96A38;
}
.listingblock pre[class=highlight] .hl.esc {
  color: #F96A38;
}
.listingblock pre[class=highlight] .hl.ipl {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.str {
  color: #198844;
}
.listingblock pre[class=highlight] .hl.ppc {
  color: #A36AC7;
}
.listingblock pre[class=highlight] .hl.pps {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.com {
  color: #969896;
  font-style: italic;
}
.listingblock pre[class=highlight] .hl.slc {
  color: #969896;
  font-style: italic;
}
.listingblock pre[class=highlight] .hl.lin {
  color: #b4b7b4;
}
.listingblock pre[class=highlight] .hl.opt {
  color: #c5c8c6;
}
.listingblock pre[class=highlight] .hl.kwa, .listingblock pre[class=highlight] .hl.kwb, .listingblock pre[class=highlight] .hl.kwc, .listingblock pre[class=highlight] .hl.kwd, .listingblock pre[class=highlight] .hl.kwe, .listingblock pre[class=highlight] .hl.kwf {
  font-weight: bold;
}
.listingblock pre[class=highlight] .hl.kwa {
  color: #CC342B;
}
.listingblock pre[class=highlight] .hl.kwb {
  color: #FBA922;
}
.listingblock pre[class=highlight] .hl.kwc {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.kwd {
  color: #A36AC7;
}
.listingblock pre[class=highlight] .hl.kwde {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.kwf {
  color: #3971ED;
}

/* Alan default theme */
.listingblock code[data-lang]::before {
  color: #d3d0c8;
}

.listingblock pre[class=highlight][lang=alan] {
  background-color: #2d2d2d;
  border: 1px solid #a09f93;
}
.listingblock pre[class=highlight][lang=alan] > code {
  color: #d3d0c8;
}
.listingblock pre[class=highlight][lang=alan] .hl {
  color: #d3d0c8;
}
.listingblock pre[class=highlight][lang=alan] .hl.num {
  color: #f99157;
}
.listingblock pre[class=highlight][lang=alan] .hl.esc {
  color: #f99157;
}
.listingblock pre[class=highlight][lang=alan] .hl.ipl {
  color: #d27b53;
}
.listingblock pre[class=highlight][lang=alan] .hl.str {
  color: #99cc99;
}
.listingblock pre[class=highlight][lang=alan] .hl.slc {
  color: #a09f93;
  font-style: italic;
}
.listingblock pre[class=highlight][lang=alan] .hl.lin {
  color: #747369;
}
.listingblock pre[class=highlight][lang=alan] .hl.opt {
  color: #d3d0c8;
}
.listingblock pre[class=highlight][lang=alan] .hl.kwa, .listingblock pre[class=highlight][lang=alan] .hl.kwb, .listingblock pre[class=highlight][lang=alan] .hl.kwc, .listingblock pre[class=highlight][lang=alan] .hl.kwd, .listingblock pre[class=highlight][lang=alan] .hl.kwe, .listingblock pre[class=highlight][lang=alan] .hl.kwf {
  font-weight: bold;
}
.listingblock pre[class=highlight][lang=alan] .hl.kwa {
  color: #f2777a;
}
.listingblock pre[class=highlight][lang=alan] .hl.kwb {
  color: #ffcc66;
}
.listingblock pre[class=highlight][lang=alan] .hl.kwc {
  color: #6699cc;
}

/* Alan example theme */
.listingblock.example code[data-lang]::before {
  color: #373b41;
}

.listingblock.example pre[class=highlight][lang=alan] {
  background-color: #ffffff;
  border: 1px solid #969896;
}
.listingblock.example pre[class=highlight][lang=alan] > code {
  color: #373b41;
}
.listingblock.example pre[class=highlight][lang=alan] .hl {
  color: #373b41;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.num {
  color: #F96A38;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.esc {
  color: #F96A38;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.ipl {
  color: #3971ED;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.str {
  color: #198844;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.slc {
  color: #969896;
  font-style: italic;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.lin {
  color: #b4b7b4;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.opt {
  color: #373b41;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.kwa, .listingblock.example pre[class=highlight][lang=alan] .hl.kwb, .listingblock.example pre[class=highlight][lang=alan] .hl.kwc, .listingblock.example pre[class=highlight][lang=alan] .hl.kwd, .listingblock.example pre[class=highlight][lang=alan] .hl.kwe, .listingblock.example pre[class=highlight][lang=alan] .hl.kwf {
  font-weight: bold;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.kwa {
  color: #CC342B;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.kwb {
  color: #FBA922;
}
.listingblock.example pre[class=highlight][lang=alan] .hl.kwc {
  color: #3971ED;
}

/*# sourceMappingURL=styles.css.map */
